{% include  "@wristcheck/header.html.twig" %}
    {% if blog_sidebar == 'right' %}
		<section id="blog-single-standard" class="blog single-post">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 mb-30-xs mb-30-sm">
                        {{ page.content }}
                        
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 sidebar">
                        {{ page.blog_sidebar }}      
                    </div>
                </div>
            </div>
        </section>
	{% elseif blog_sidebar == 'left' %}
		<section id="blog-single-standard" class="blog single-post">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 sidebar">
                        {{ page.blog_sidebar }}           
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 mb-30-xs mb-30-sm">
                        {{ page.content }}
                        
                    </div>
                </div>
            </div>
        </section>
	{% else %}
		<section id="blog-single-standard" class="blog single-post {% if blog_single_style == 'creative' %} single-creative {% endif %}">
            <div class="container">
                <div class="row">
                    {% if blog_single_style == 'creative' %} 
                            {{ page.content }}
                    {% else %} 
                        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 mb-30-xs mb-30-sm">
                            {{ page.content }}
                        </div>                                          
                    {% endif %}
                    
                </div>
            </div>
        </section>
	{% endif %}  
{% include  "@wristcheck/footer.html.twig" %}