{% if node.field_page_title_image is not null and node.field_page_title_image.entity.uri is not empty %}
    {% set img_uri = node.field_page_title_image|first.entity.uri.value %}
    {% set page_title_img = file_url(img_uri) %}
{% else %}
    {% set page_title_img = page_header_background_image %}
{% endif %}
{% if type != 'homepage' and not is_front %}
    {% if layout_type == 'type1' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-1">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type2' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-2">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type3' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-3">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type4' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-4">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type5' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-4 title-5">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type6' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-4 title-6">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type7' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-4 title-7">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type8' %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-4 title-7 title-8">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% elseif layout_type == 'type9' %}
        <section id="page-title" class="page-title page-title-2">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-9">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% else %}
        <section id="page-title" class="page-title">
            <div class="container-fluid bg-overlay">
                <div class="bg-section">
                <img src="{{ page_title_img }}" alt="Background"/>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title title-1">
                            <div class="title-content">
                                <div class="title-heading">
                                <h1>{{ title }}</h1>
                            </div>
                                {{ page.breadcrumb }}
                            </div>
                        </div><!-- .page-title end -->
                    </div><!-- .col-lg-12 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>
    {% endif %}
{% endif %}