<div class="layout-container">
  {% include  "@wristcheck_barrio/header.html.twig" %}

  <div class="wc-panel pt-100">
    <div class='container portfolio'>
      {{ drupal_view('wristcheck_products','page_1') }}
    </div>
  </div>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="container">
      <div class="layout-content">
        {{ drupal_view('wristcheck_products','page_1') }}
      </div>
    </div>
  </main>
  <div class="container-fluid">
    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}

    {% if page.bottom_footer %}
      {{ page.bottom_footer }}
      {{ page.copyright }}
    {% endif %}
  </div>
  <div class="wc-page-modal"></div>
  <div class="wc-product-search-modal"></div>
</div>
