{{ drupal_block('wristcheck_free_advertising_block') }}
{{ drupal_block('wristcheck_sell_video_block') }}
{{ drupal_block('wristcheck_selling_process_single_image_block') }}

<div class="row">
  <div class="col-md-12">
    <div class="wc-panel">
      <div class="wc-panel2__title text-center">LOW SALES COMMISSION</div>
      <div
        class="wc-panel2__sub text-center"> {{ 'If you succeed in selling the watch,the sales commission will be 6.5% of the selling price'|t }}</div>
      <div class="wc-low-sales">
        <div class="wc-panel__title text-center text-white">Calculate your payoffs now</div>
        {{ drupal_entity("webform","faq_price") }}
      </div>
    </div>
  </div>
</div>

{{ drupal_block('wristcheck_faq_checkout_block') }}

<div class="row">
  <div class="col-md-12">
    <div class="wc-panel">
      <div class="wc-panel2__title text-center">{{ 'CREATE AND AD,SIMPLE DESCRIPTION'|t }}</div>
      <div
        class="wc-panel2__sub text-center">{{ 'In this video,we step-by-step show you how to easily and freely advertise your watch on the Wrist Check'|t }}</div>
    </div>
    <div class="container">
      <div class="wc-video-box">
        <video></video>
      </div>
    </div>
  </div>
</div>

<div class="wc-panel">
  <div class='text-center'>
    <button type="button" class="btn btn-default btn-lg wc-ex-btn">
      <span class="fa  fa-arrow-right"></span>
      {{ '| GET STARTED'|t }}
    </button>
  </div>
</div>

<h1>put customer reviews block on this position</h1>
<div class="contact">
  <h1>Contact US</h1>
  <div class="view-header">
    <span>
      {% if variables['phone'] %}
        <h5>CALL : {{ variables['phone'] }}</h5>
      {% else %}
        <h5>CALL : +0012 987654</h5>
      {% endif %}
      <a href="/aaa">EMAIL: {{ variables['mail'] }} </a>
    </span>
    <hr>
  </div>
  {{ drupal_view('wristcheck_faq','faq_contact_us') }}
</div>
