<div class="wc-banner">
{% for banner in variables. banners %}
  {{ banner.type }}-{{ banner.file_url }}-{{ banner.ext }}
{% endfor %}
{{ variables.banners }}
<div>EXPLOER WRISTCHECK</div>
{{ variables.exploer_wristcheck }}
<div>POPULAR BRANDS</div>
{{ variables.popular_brands }}
<div>SELLING PROCESS</div>
{{ variables.wristcheck_selling_process }}
<div>WRISTCHECK IN THE NEWS</div>
{{ variables.news }}
<div>FURTHER ARTICLES ABOUT ROLEX</div>
{{ variables.magazines }}
<div>TESTIMDNIALS</div>
{{ variables.testimdnials }}
<div>DOWNLOAD</div>
{{ variables.download }}
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>BUYING PROCESS</h1>
  <div class='container'>
    <img src="/themes/wristcheck/images/step-1.png" class='img-responsive'/>
  </div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>EXPLOER WRISTCHECK</h1>
  <div class='container'>
    <div
      id="portfolio-all" class="row">
      <!-- Portfolio Item #1 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Branding filter-Interior">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/1.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Branding Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">Branding</a>
                      ,
                      <a href="#">Packaging</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/1.jpg" title="Branding Mockup">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->

      <!-- Portfolio Item #2 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Web">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/2.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Print Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">print</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/2.jpg" title="Print Mockup">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->

      <!-- Portfolio Item #3 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Packaging filter-Interior">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/3.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Nevian Packaging</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">Packaging</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/3.jpg" title="Nevian Packaging">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->

      <!-- Portfolio Item #4 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Branding filter-Interior filter-Print">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/4.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Branding Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">Branding</a>
                      ,
                      <a href="#">Packaging</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/1.jpg" title="Branding Mockup">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->

      <!-- Portfolio Item #5 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Branding filter-Web ">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/5.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Print Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">print</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/2.jpg" title="Print Mockup">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->

      <!-- Portfolio Item #6 -->
      <div class="col-sm-12 col-md-6 col-lg-4 portfolio-item filter-Packaging filter-Interior">
        <div class="portfolio-item-box">
          <div class="portfolio-img">
            <img src="assets/images/portfolio/vintage/6.jpg" alt="Portfolio Item">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <div class="portfolio-meta">
                  <div class="portfolio-title">
                    <h4>
                      <a href="portfolio-single-1.html">Nevian Packaging</a>
                    </h4>
                  </div>
                  <div class="portfolio-cat">
                    <span>
                      <a href="#">Packaging</a>
                    </span>
                  </div>
                </div>
                <!-- .Portfolio-meta end -->
                <div class="portfolio-action">
                  <div class="portfolio-zoom-border">
                    <a class="img-popup zoom" href="assets/images/portfolio/full/3.jpg" title="Nevian Packaging">
                      <i class="celia-zoom"></i>
                    </a>
                  </div>
                </div>
                <!-- .Portfolio-action end -->
              </div>
              <!-- .portfolio-hover-content end -->
            </div>
            <!-- .Portfolio-hover end -->
          </div>
          <!-- .Portfolio-img end -->
        </div>
        <!-- .Portfolio-item-box end -->
      </div>
      <!-- . portfolio-item  end -->
    </div>
    <!-- .row end -->
  </div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>POPULAR BRANDS</h1>
  <div class='container'></div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>SELLING PROCESS</h1>
  <div class='container'></div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>WRISTCHECK IN THE NEWS</h1>
  <div class='container'></div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>FURTHER ARTICLES ABOUT ROLEX</h1>
  <div class='container'></div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>TESTIMDNIALS</h1>
  <div class='container'></div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>DOWNLOAD OUR APP & FOLLOW US</h1>
  <div class='container'></div>
</div>
