<div class="wc-panel ">
  <h1 class='wc-panel__title text-left'>{{ 'WRISTCHECK'|t }}</h1>
  {{ drupal_view('wristcheck_faq') }}
     {{ drupal_view('wristcheck_faq','process_step') }}
    {{ drupal_block('wristcheck_faq_checkvalue_block') }}
  <div class="ad_four">
    <h1>Create an AD, simple instructions </h1>
    {{ drupal_view('wristcheck_faq','faq_ad_simple_one_pic') }}
  </div>
  <div class="ad_four">
    <h1>Create an AD, simple instructions</h1>
   {{ drupal_view('wristcheck_faq','faq_ad_simple_four_pic') }}
  </div>
  <div class="wc-panel wc-testimdnials">
    <h1 class='wc-panel__title text-center'>{{ 'TESTIMDNIALS'|t }}</h1>
    <div class='container pt-50 pb-100'>
      {{ drupal_view('wristcheck_testimdnials','default') }}
    </div>
  </div>
  <div class="contact">
    <h1>DO YOU HAVE ANY QUESTIONS? CONTACT US!</h1>
    <div class="view-header">
      <span>
      {% if variables['phone'] %}
        <h5>CALL : {{ variables['phone'] }}</h5>
      {% else %}
        <h5>CALL : +0012 987654</h5>
      {% endif %}
      <a href="{{ variables['mail'] }}">EMAIL: CONTACT </a>
       </span>
      <hr>
    </div>
  {{ drupal_view('wristcheck_faq','faq_contact_us') }}
  </div>
</div>
