<div class="wc-panel ">
  <h1 class='wc-panel__title text-left'>{{ 'WRISTCHECK'|t }}</h1>
  {{ drupal_view('wristcheck_faq') }}
     {{ drupal_view('wristcheck_faq','process_step') }}
    {{ drupal_block('wristcheck_faq_checkvalue_block') }}
  <div class="ad_four">
    <h1>Create an AD, simple instructions </h1>
    {{ drupal_view('wristcheck_faq','faq_ad_simple_one_pic') }}
  </div>
  <div class="ad_four">
    <h1>Create an AD, simple instructions</h1>
   {{ drupal_view('wristcheck_faq','faq_ad_simple_four_pic') }}
  </div>
  <div class="wc-panel wc-testimdnials">
    <h1 class='wc-panel__title text-center'>{{ 'TESTIMDNIALS'|t }}</h1>
    <div class='container pt-50 pb-100'>
      {{ drupal_view('wristcheck_testimdnials','default') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 wc-do-you-have-any-questions">
      <div class="wc-panel">
        <div class="wc-panel__title text-center">Do you have any questions? Contact us!</div>
        <div class="wc-panel__sub text-center">
          {% if variables['phone'] %}
            <a href="tel:{{ variables['phone'] }}">CALL : {{ variables['phone'] }}</a>
          {% else %}
            <a href="tel:+0012 987654">CALL : +0012 987654</a>
          {% endif %}
          <a class="email" href="tomail:{{ variables['mail'] }}">EMAIL : CONTACT</a>
        </div>
      </div>
      <div class="divider"></div>
      {{ drupal_view('wristcheck_faq','faq_contact_us') }}
    </div>
  </div>

</div>

