{{ drupal_entity("block_content",63) }}

<div class="wc-panel wc-discover-panel">
{#  <div class="wc-panel wc-padding-top-0">#}
{#    <div class="wc-panel__title text-center">LATEST ARTICLES</div>#}
{#    {{ drupal_view('wristcheck_buy_magazine','latest_articles') }}#}
{#  </div>#}
      {{ drupal_view('wristcheck_buy_magazine','latest_click_load') }}
  <div class="wc-panel wc-padding-top-0">
    <div class="wc-panel__title text-center">WATCH 101S</div>
    {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}
  </div>

  <div class="wc-panel wc-padding-top-0">
    <div class="wc-panel__title text-center">ICON</div>
    {{ drupal_view('wristcheck_buy_magazine','buy_guide') }}
  </div>
  <div class="wc-panel wc-padding-top-0">
    <div class="wc-panel__title text-center">MY WATCH AND I</div>
    {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}
  </div>

  <div class="wc-panel wc-padding-top-0">
    <div class="wc-panel__title text-center">BUYING GUIDES</div>
    {{ drupal_view('wristcheck_buy_magazine','buy_guide') }}
  </div>
</div>
{#<div class="wc-panel wc-rolex wc-padding-top-0">#}
{#  <div class="wc-panel__title text-center">#}
{#    #}{#    FURTHER ARTICLES ABOUT ROLEX#}
{#    INSTAGRAM FEED#}
{#  </div>#}
{#  {{ drupal_view('wristcheck_popular_watch_brands') }}#}
{#  #}{#  {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}#}
{#</div>#}
