<div class="wc-v2-panel">
    <div class="homepage-line-bg"></div>
</div>
<div class="container">
	<div class="wc-panel wc-padding-top-0">
		<div class="wc-panel__title text-center">LATEST</div>
		{{ drupal_view('wristcheck_buy_magazine','latest_load_load') }}
	</div>
	<div class="v-line"></div>
	<div class="wc-panel">
		<div class="wc-panel__title text-center">WATCH 101</div>
    {{ drupal_view('wristcheck_buy_magazine','single_article') }}
    <div class="wc-panel wc-padding-top-0 wc-mag-two-load">
      {{ drupal_view('wristcheck_buy_magazine','article_two_load') }}
    </div>
	</div>
	<div class="v-line"></div>
	<div class="wc-panel">
		<div class="wc-panel__title text-center">ICON</div>
    {{ drupal_view('wristcheck_buy_magazine','latest_load_load') }}
	</div>
	<div class="v-line"></div>
	<div class="wc-panel">
		<div class="wc-panel__title text-center">MY WATCH AND I</div>
    {{ drupal_view('wristcheck_buy_magazine','single_article') }}
    <div class="wc-panel wc-padding-top-0 wc-mag-two-load">
      {{ drupal_view('wristcheck_buy_magazine','article_three_load') }}
    </div>
	</div>
	<div class="v-line"></div>
	<div class="wc-panel">
		<div class="wc-panel__title text-center">BUYING GUIDES</div>
    {{ drupal_view('wristcheck_buy_magazine','latest_load_load') }}
	</div>
</div>
<div class="homepage-line-bg"></div>
<div class="container">
	<div class="wc-panel">
		<div class="wc-panel__title text-center">INSTAGRAM FEED</div>
    {{ drupal_view('wristcheck_brand','discover_instagram_feed') }}
	</div>
</div>