<div class="container">
    <div class="wc-homepage-banner">
        {{ drupal_view('wristcheck_buy_magazine','discover_head_block') }}
    </div>
    {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}
</div>
<div class="homepage-it-work">
    <div class="container">
        {{ drupal_block('wristcheck_how_it_works_block') }}
    </div>
</div>
<div class="wc-v2-panel browse-by-brand">
    <h1 class="wc-v2-panel__title text-center">Browse by brand</h1>
    <div class="container wc-hompage-wristcheck_brand-logo">
        {{ drupal_view('wristcheck_brand','logo') }}
    </div>
</div>
<div class="homepage-line-bg"></div>
<div class="wc-brand-product">
    <h1 class="wc-panel__title text-center">EDITOR'S PICKS</h1>
    <div
        class='container portfolio wc-buy-more-products'>
        {#        {{ drupal_view('wristcheck_products','related_products') }}#}
        {{ drupal_view('wristcheck_products','home_edit_pick') }}
    </div>
</div>
<div
    class="wc-v2-panel">
    {# wc-discover-panel #}
    <div class="container">
        <div class="v-line"></div>
        <div class="wc-v2-panel">
            <div class="wc-v2-panel__title text-center">FROM THE JOURNAL</div>
            <div class="wc-panel wc-padding-top-0 wc-mag-two-load">
                {{ drupal_view('wristcheck_buy_magazine','article_three_load') }}
            </div>
        </div>
        {# {{ drupal_view('wristcheck_buy_magazine','from_the_journal') }}#}
    {# {{ drupal_view('wristcheck_buy_magazine','article_three_load') }}#}
        {# {{ attach_library('wristcheck_barrio/homepage-styling') }}#}
    </div>
</div>
