<div class="wc-panel pt-100">
  <h1 class='wc-panel__title text-center'>{{ 'BUYING PROCESS'|t }}</h1>
  <div class='container'>
    <img src="/themes/custom/wristcheck_barrio/images/step-1.png" class='img-fluid'/>
  </div>
</div>
<div class="wc-panel pt-100">
  <h1 class='wc-panel__title text-center'>{{ 'HOT RECOMMENDED'|t }}</h1>
  <div class='container portfolio'>
    <div class="row">
      {#        <div class="col-sm-12 col-md-3 col-lg-3 portfolio-item filter-Packaging filter-Print views-row">#}
      {#          <a href="javascript:;">#}
      {#            <div class="portfolio-img wc-ex-panel mb-20">#}
      {#              <img src="/sites/default/files/2020-07/watch-2.png" width="236" height="413" alt="" typeof="Image">#}
      {#            </div>#}
      {#            <div class="portfolio-sub-detail">#}
      {#              <div class="profile-sub-country d-flex flex-row justify-content-start align-items-center">#}
      {#                <div class="country__box d-flex flex-row align-items-center">#}
      {#                  <div class="country__img">#}
      {#                    <img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/icons/usa.png" alt="">#}
      {#                  </div>#}
      {#                  <span class="country__nam">USA</span>#}
      {#                </div>#}
      {#                <div class="like-box d-flex flex-row align-items-center">#}
      {#                  <img src="/themes/custom/wristcheck_barrio/images/icons/sheild.png" alt=""#}
      {#                       class="img-fluid like-icon">#}
      {#                  <span class="like-count">103</span>#}
      {#                </div>#}
      {#              </div>#}
      {#              <div class="profile-sub-content">#}
      {#                ANGELUS CHRONODATO 18K SOLID YELLOW#}
      {#                GOLD MEN’S TRIPLE DATE CALENDAR#}
      {#              </div>#}
      {#              <div class="profile-sub-price d-flex flex-row justify-content-between align-items-end">#}
      {#                <div class="price__number">$1,945</div>#}
      {#                <div class="price__star d-flex flex-column justify-content-center">#}
      {#                  <img src="/themes/custom/wristcheck_barrio/images/icons/icon-star5.png" alt=""#}
      {#                       class="price__star-img">#}
      {#                  <span class="price__star-font">VERIFIED DEALER</span>#}
      {#                </div>#}
      {#              </div>#}
      {#            </div>#}
      {#          </a>#}
      {#        </div>#}
    </div>
    {{ drupal_view('wristcheck_products','hot_recommended') }}
  </div>
</div>

<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>{{ 'EXPLOER WRISTCHECK'|t }}</h1>
  <div class='container portfolio'>
    {{ drupal_view('wristcheck_buy_explore') }}
  </div>
  <div class='text-center'>
    <button type="button" class="wc-v2-panel__more-btn wc-btn-white">
      <span class="wc-btn-cont">{{ 'EXPLORE MORE'|t }}</span>
    </button>
  </div>
</div>
<div class="wc-panel">
  <h1 class='wc-panel__title text-center'>{{ 'POPULAR BRANDS'|t }}</h1>
  <div class='container portfolio'>
    {{ drupal_view('wristcheck_buy_popular_brands') }}
  </div>
  <div class='text-center'>
    <button type="button" class="wc-v2-panel__more-btn wc-btn-white">
      <span class="wc-btn-cont">{{ 'EXPLORE MORE'|t }}</span>
    </button>

  </div>
</div>
<div class="wc-panel pt-100">
  <h1 class='wc-panel__title text-center'>{{ 'MORE PRODUCTS'|t }}</h1>
  {#  <div class="text-center pt-4 pb-4">#}
  {#    <a href="javascript:;" class="wc-btn-dark mr-4 wc-btn-large">#}
  {#      <span class="wc-btn-cont">VIEW BUY MODAL</span>#}
  {#    </a>#}
  {#    <a href="javascript:;" class="wc-btn-dark ml-4 wc-btn-large">#}
  {#      <span class="wc-btn-cont">VIEW BUY LISTING</span>#}
  {#    </a>#}
  {#  </div>#}
  <div class='container portfolio wc-buy-more-products'>
    {{ drupal_view('wristcheck_products','more_products') }}
  </div>
  <div>


    {#  {{ drupal_view('wristcheck_selling_process_block') }}#}
    {#<div class="wc-panel wc-news">#}
    {#  <h1 class='wc-panel__title text-center'>{{ 'WRISTCHECK IN THE NEWS'|t }}</h1>#}
    {#  <div class='container'>#}
    {#    {{ drupal_view('wristcheck_buy_news') }}#}
    {#  </div>#}
    {#</div>#}
    {#<div class="wc-panel wc-rolex portfolio">#}
    {#  <h1 class='wc-panel__title text-center'>{{ 'FURTHER ARTICLES ABOUT ROLEX'|t }}</h1>#}
    {#  <div class='container pt-50'>#}
    {#    {{ drupal_view('wristcheck_buy_magazine') }}#}
    {#  </div>#}
    {#</div>#}
    {#<div class="wc-panel wc-testimdnials">#}
    {#  <h1 class='wc-panel__title text-center'>{{ 'TESTIMDNIALS'|t }}</h1>#}
    {#  <div class='container pt-50 pb-100'>#}
    {#    {{ drupal_view('wristcheck_testimdnials','default') }}#}
    {#  </div>#}
    {#</div>#}
