<div class="container">
    <div class="wc-panel">
    {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}
    </div>
    <div class="v-line"></div>
    <div class="wc-panel">
    	<h1 class='wc-panel__title text-center'>{{ 'BUYING PROCESS'|t }}</h1>
        <div class="step-number_box">
            <div class="step-number_box-item">
                <img class="step-number_img" src="/themes/custom/wristcheck_barrio/images/step/1.png"/>
                <div class="step-number_content">
                   <div class="step-number_content-title">FIND YOUR WATCH</div>
                   <div class="step-number_content-text">Browse through our curated selection of luxury pre-owned watches..</div>
                </div>
            </div>
            <div class="step-number_box-item">
                <img class="step-number_img" src="/themes/custom/wristcheck_barrio/images/step/2.png"/>
                <div class="step-number_content">
                   <div class="step-number_content-title">PAY INTO ESCROW ACCOUNT</div>
                   <div class="step-number_content-text">You pay into an escrow account and your funds will not be released to the seller until wristcheck authenticates the watch</div>
                </div>
            </div>
            <div class="step-number_box-item">
                <img class="step-number_img" src="/themes/custom/wristcheck_barrio/images/step/3.png"/>
                <div class="step-number_content">
                   <div class="step-number_content-title">WRISTCHECK AUTH ENTICATES THE WATCH</div>
                   <div class="step-number_content-text">100% Authenticity Guaranteed. Every watch that's sold goes through the WristCheck service center for quality assurance. We only accept watches that are 100% authentic.</div>
                </div>
            </div>
            <div class="step-number_box-item">
                <img class="step-number_img" src="/themes/custom/wristcheck_barrio/images/step/4.png"/>
                <div class="step-number_content">
                   <div class="step-number_content-title">PAYMENT RELEASED To SELLER </div>
                   <div class="step-number_content-text">If authentication is successful, wristcheck will release your payment to the seller. Wrickcheck will then process your order to be shipped to your location, or you can choose to pick it up in our boutique.</div>
                </div>
            </div>
            <div class="step-number_box-item">
                <img class="step-number_img" src="/themes/custom/wristcheck_barrio/images/step/5.png"/>
                <div class="step-number_content">
                   <div class="step-number_content-title">RECEIVE YOUR WATCH</div>
                   <div class="step-number_content-text">Congratulations on your new timepiece! Wear it in good health and don't forget to take a wristshot!</div>
                </div>
            </div>
    	</div>
	</div>
	<div class="v-line"></div>
	{{ drupal_block('wristcheck_buy_benefits_block') }}
	<div class="v-line"></div>
	<div class="wc-panel">
		<h1 class='wc-panel__title text-center'>{{ "EDITORS' PICKS"|t }}</h1>
		<div class='portfolio'>
			{{ drupal_view('wristcheck_products','hot_recommended') }}
		</div>
	</div>
	<div class="v-line"></div>
	<div class="wc-panel wc-shop_by_brand">
    	<h1 class='wc-panel__title text-center'>{{ 'SHOP BY BRAND'|t }}</h1>
		{{ drupal_view('wristcheck_popular_watch_brands','shop_by_brand') }}
	</div>
</div>
