<div class="wc-panel">
  <div class="top-box">
    <div class="top-box-img">
      <img src="/themes/custom/wristcheck_barrio/images/icons/info.jpg"/>
    </div>
    <div class="top-box-info">
      <h1>VERIFY YOUR EMAIL ADDRESS</h1>
      <p>
        You haven't confirmed your email address, {{ variables['mail'] }}. Please click the confirmation link in the email we
        sent you to complete the registration. You can then use all the features of the Wrlst Check. You didn't get the
        e-mail? Please send the confirmation link again.
      </p>
    </div>
  </div>
{#  <div class="container">#}
{#    <div class="row">#}
{#      <div class="span4">#}
{#        <div class="alert alert-danger">#}
{#          <a class="close" data-dismiss="alert">×</a>#}
{#          <strong>#}
{#            Error#}
{#          </strong>#}
{#        </div>#}
{#        <div class="alert alert-success">#}
{#          <a class="close" data-dismiss="alert">×</a>#}
{#          <strong>#}
{#            Success#}
{#          </strong>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
  <div class="row">
    <div class="wc-user_content col-md-6">
      <div class="wc-supple-form-body">
        <h1 class="wc-supple__title">PERSIONNAL DATA</h1>
        <div class="wc-persional_data">
          <img src="{{ variables['picture'] }}"
               onerror="javascript:this.src='/themes/custom/wristcheck_barrio/images/photo.png'"/>
          <h5>{{ variables['mail'] }}</h5>
        </div>
        <h5 class="wc-person-short-desc">Before We Begin, We'd Like to get to know you better.</h5>
        {{ drupal_entity('webform','user_info') }}
      </div>
    </div>
    <div class="wc-user_content col-md-6">
      <div class="wc-supple-form-body">
        <h1 class="wc-supple__title">STORAGE SEARCH</h1>
        <div class="wc-persional_data">SEARCH RESULTS NOT YET STORED?</div>
        <div class="wc-person-short-desc">LET us inpsire you with our incomparable luxury watch series</div>
        {{ drupal_view('wristcheck_user_data','user_supplementform') }}
      </div>
    </div>
    <div class="wc-user_content col-md-6">
      <div class="wc-supple-form-body">
        <h1 class="wc-supple__title">PERSONAL DATA</h1>
        <div class="wc-persional_data justify-content-center">SELL YOUR WATCH</div>
        <div class="wc-person-short-desc text-center">More than 9 million watch enthusiasts are looking forward to
          seeing your watch
          each month
        </div>
        <div class="text-center">
          <a href="javascript:;" class="wc-btn-dark">
            <div class="wc-btn-cont" id="profile_button"><span class="fa fa-arrow-right"></span> <span class="btn-line"></span> CONTACT THE SELLER
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

