<div class="wc-panel ">
  <h1 class='wc-panel__title text-left'>{{ 'WRISTCHECK'|t }}</h1>
  {{ drupal_view('wristcheck_faq') }}
     {{ drupal_view('wristcheck_faq','process_step') }}
    {{ drupal_block('wristcheck_faq_checkvalue_block') }}
  {{ drupal_view('wristcheck_faq','faq_ad_simple_one_pic') }}
  <div class="ad_four">
    <h1>create ad an simple</h1>
   {{ drupal_view('wristcheck_faq','faq_ad_simple_four_pic') }}
  </div>
  <div class="row">
    {{ drupal_view('wristcheck_faq','faq_user_comments') }}
  </div>
  <div class="contact">
    <h1>Contact US</h1>
  {{ drupal_view('wristcheck_faq','faq_contact_us') }}
  </div>
</div>
