<div class="payment-success">
  <div class="row direction">
    <a class="wc-back-nav" onclick="javascript:history.back();"><i class="fa fa-angle-left"></i> So let's go back to the
      list</a>
  </div>
  <div class="wc-panel">
    <div class="wc-panel__title">PAYMENT</div>
    {{ drupal_block("wristcheck_paymentstep_block") }}
  </div>
  <div class="wc-panel">
    <div class="wc-panel__sub">PAYMENT STATUS</div>
    <div class="row pt-100">
      <div class="col-md-5">
        <div class="pr-5">
          <div class="wc-product-imglist1">
            <img class="img-fluid" src="{{ variables["pic"] }}"/>
          </div>
          <div class="wc-product--row">
            <div class="wc-product-title">Patek Philippe Perpetual CalendarChronograph</div>
            <h5 class="wc-product__sub">
              Time Solution(HK)Ltd
              <img class="pay-location-icon" src="/themes/custom/wristcheck_barrio/images/icons/usa.png"/>
            </h5>
          </div>
          <div class="cs-box">
            <div class="wc-product-title bold">CUSTOMER SERVICE</div>
            <div class="wc-product__sub">
              Contact our staff to inform you of the buying and selling process
            </div>
            <a href="tel:{{ variables['phone'] }}" class="wc-product-call">
              <img class="pay-call-icon"
                   src="/themes/custom/wristcheck_barrio/images/icons/icon-phone2.png"/>CALL:{{ variables['phone'] }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="wc-product-introduction">
          <div class="wc-panel__title">PAY FOR SUCCESS!</div>
          <p>{{ 'Your order number is'|t }} {{ variables['order_id'] }}</p>
          <p>Your order is being processed. We will arrange shipment for you as sooon as possible later.
            Please continue to wait patiently and it is expected to be delivered within 3 working days.</p>
          <p>Bai has a complete protection plan and first-class high-quality service in the future. Your
            policy will be sorted out within five days,and Then I will send it to you.</p>
          <br/>
          <br/>
          <div class="wc-product--row">
            <div class="wc-product-buy-new pr">
              <a class="wc-btn-white THE-DELIVERY-STATUS">
                <div class="wc-btn-cont">
                  <span class="fa fa-arrow-right"></span>
                  | THE DELIVERY STATUS
                </div>
              </a>
            </div>
            <div class="wc-product-buy pr">
              <a class="wc-btn-dark TO-VIEW-THE-ORDER">
                <div class="wc-btn-cont">
                  <span class="fa fa-arrow-right"></span>
                  | TO VIEW THE ORDER
                </div>
              </a>
{#              {{ drupal_view('wristcheck_second_hands_watch') }}#}
            </div>
          </div>
        </div>
        <div class="mt-5">
          <img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/shield.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

