{% set titles = [
  'BRAND',
  'MODEL',
  'PRICE',
  'CASE DIAMETER',
  'YEAR',
  'LOCATION',
  'MORE'
] %}
<div class="wc-product-search">
    <div class="wc-product-search-menu">
        <div class="container">
            <div class="wc-search-menu">
                <ul class="d-flex flex-row">
                    {% for title in titles %}
                        <li class="flex-grow-1">
                            <a href="javascript:;" class="wc-search-menu__title">
                                {{ title }}
                            </a>
                            <div class="container wc-search-dropdown-panel">
                                <div class="wc-search-dropdown-panel__body">
                                    {% if title == 'BRAND' %}
                                        <div class="wc-search-panel__body wc-search-form-line">
                                            <form class="row wc-location-col__list">
                                                {% for option in variables['brands'] %}
                                                    <div class="col-md-3">
                                                        <label class="label-flex"><input type="radio" name="field_related_brand_target_id" data-search="field_related_brand_target_id" value="{{ option.nid }}" title="{{ option.title }}">
                                                            <span>{{ option.title }}</span></label>
                                                    </div>
                                                {% endfor %}
                                            </form>
                                            {# {{drupal_view('wristcheck_brand','filter_brand_title')}} #}
                                        </div>
                                        <div class="d-flex justify-content-between wc-search__price">
                                            <a href="javascript:;" class="wc-btn-white">
                                                <div class="wc-btn-cont">
                                                    <span class="fa fa-download mr-2"></span>SAVE THIS SEARCH</div>
                                            </a>
                                            <div>
                                                <a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
                                                <a href="javascript:;" class="wc-btn-dark wc-search-btn">
                                                    <div class="wc-btn-cont">
                                                        <span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
                                                </a>
                                            </div>
                                        </div>
                                    {% elseif title == 'MODEL' %}
                                        <div class="wc-search-panel__body wc-search-form-line">
                                            <form class="row wc-location-col__list">
                                                {% for option in variables['models'] %}
                                                    <div class="col-md-3">
                                                        <label class="label-flex"><input type="radio" name="field_related_model_target_id" data-search="field_related_model_target_id" value="{{ option.product_id }}" title="{{ option.title }}">
                                                            <span>{{ option.title }}</span></label>
                                                    </div>
                                                {% endfor %}
                                            </form>
                                            {# {{drupal_view('wristcheck_model','filter_model_title')}} #}
                                        </div>
                                        <div class="d-flex justify-content-between wc-search__price">
                                            <a href="javascript:;" class="wc-btn-white">
                                                <div class="wc-btn-cont">
                                                    <span class="fa fa-download mr-2"></span>SAVE THIS SEARCH</div>
                                            </a>
                                            <div>
                                                <a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
                                                <a href="javascript:;" class="wc-btn-dark wc-search-btn">
                                                    <div class="wc-btn-cont">
                                                        <span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
                                                </a>
                                            </div>
                                        </div>
                                    {% elseif title == 'PRICE' %}
                                        <div class="wc-search-panel__body overflow-hidden wc-search-form-line">
                                            <form class="row">
                                                <div class="col-md-6 wc-search__item">
                                                    <div class="form-group">
                                                        <label>Currency option</label>
                                                        <select class="form-control" name="currency_code" data-search="currency_code">
                                                            {% for option in variables['currencies'] %}
                                                                <option value="{{ option }}">{{ option }}</option>
                                                    		{% endfor %}
                                                		</select>
													</div>
                                            	</div>
		                                        <div class="col-md-6 wc-search__item"></div>
												<div class="col-md-6 wc-search__item">
													<div class="form-group">
														<label>from $</label>
														<input type="number" min="0" name="price[min]" data-search="price[min]" class="form-control">
													</div>
												</div>
												<div class="col-md-6 wc-search__item">
													<div class="form-group">
														<label>from $</label>
														<input type="number" min="0" name="price[max]" data-search="price[max]" class="form-control">
													</div>
												</div>
												<div class="col-md-12 wc-search__item">
													<div id="wc-range"></div>
												</div>
                                    		</form>
                                		</div>
										<div class="d-flex justify-content-between wc-search__price">
											<a href="javascript:;" class="wc-btn-white">
												<div class="wc-btn-cont">
													<span class="fa fa-download mr-2"></span>
													SAVE THIS SEARCH</div>
											</a>
											<div>
												<a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
												<a href="javascript:;" class="wc-btn-dark wc-search-btn">
													<div class="wc-btn-cont">
														<span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
												</a>
											</div>
										</div>
									{% elseif title == 'CASE DIAMETER' %}
										<div class="wc-search-panel__body wc-search-form-line">
											<form class="row wc-location-col__list">
												{% for option in variables['case_diameter'] %}
													<div class="col-md-3">
														<label class="label-flex"><input type="radio" name="field_case_diameter_value" data-search="field_case_diameter_value" value="{{ option.field_case_diameter_value }}" title="{{ option.field_case_diameter_value }}">
															<span>{{ option.field_case_diameter_value }}</span></label>
													</div>
												{% endfor %}
											</form>
											{# {{drupal_view('wristcheck_model','filter_model_case_diameter')}} #}
										</div>
										<div class="d-flex justify-content-between wc-search__price">
											<a href="javascript:;" class="wc-btn-white">
												<div class="wc-btn-cont">
													<span class="fa fa-download mr-2"></span>
													SAVE THIS SEARCH</div>
											</a>
											<div>
												<a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
												<a href="javascript:;" class="wc-btn-dark wc-search-btn">
													<div class="wc-btn-cont">
														<span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
												</a>
											</div>
										</div>
									{% elseif title == 'YEAR' %}
										<div class="wc-search-panel__body wc-search-form-line">
											<form class="row wc-location-col__list">
												{% for option in variables['years'] %}
													<div class="col-md-3">
														<label class="label-flex"><input type="radio" name="field_year_value" data-search="field_year_value" value="{{ option.field_year_value }}" title="{{ option.field_year_value }}">
															<span>{{ option.field_year_value }}</span></label>
													</div>
												{% endfor %}
											</form>
											{# {{drupal_view('wristcheck_model','filter_model_year')}} #}
                                		</div>
										<div class="d-flex justify-content-between wc-search__price">
											<a href="javascript:;" class="wc-btn-white">
												<div class="wc-btn-cont">
													<span class="fa fa-download mr-2"></span>
													SAVE THIS SEARCH</div>
											</a>
											<div>
												<a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
												<a href="javascript:;" class="wc-btn-dark wc-search-btn">
													<div class="wc-btn-cont">
														<span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
												</a>
											</div>
										</div>
									{% elseif title == 'LOCATION' %}
										<div class="wc-search-panel__body">
											<form class="row wc-search-form-line wc-search-location">
												<div class="col-md-6 wc-search__item">
													<div class="row">
														<div class="col-md-6">
															<h2 class="wc-location-col__title">YOUR SELECTION</h2>
															<p class="wc-clear-font">Clear selection</p>
														</div>
														<div class="col-md-6">
															<h2 class="wc-location-col__title">YOUR SELECTION</h2>
															<h3 class="wc-location-col__title_sub">GREATER CHINA</h3>
															<ul class="wc-location-col__list">
																{% for option in variables['locations'] %}
																	<li>
																		<label><input type="checkbox" name="location[]" data-search="location[]" value="{{ option }}">
																			{{ option }}</label>
																	</li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
												<div class="col-md-6 wc-search__item">
													<input class="form-control wc-location-input"/>
													<ul class="wc-location-col__list">
														<li>
															<label><input type="checkbox">
																Mainland china</label>
														</li>
														<li>
															<label><input type="checkbox">
																Hong kong</label>
														</li>
													</ul>
												</div>
											</form>
										</div>
										<div class="d-flex justify-content-between wc-search__price">
											<a href="javascript:;" class="wc-btn-white">
												<div class="wc-btn-cont">
													<span class="fa fa-download mr-2"></span>
													SAVE THIS SEARCH</div>
											</a>
											<div>
												<a href="javascript:;" class="wc-search-menu-cancel">CANCEL</a>
												<a href="javascript:;" class="wc-btn-dark wc-search-btn">
													<div class="wc-btn-cont">
														<span class="fa fa-arrow-right mr-2"></span>SHOW RESULTS</div>
												</a>
											</div>
										</div>
									{% elseif title == 'MORE' %}
                                		<div class="wc-search-panel__body"></div>
                            		{% endif %}
                    			</div>
							</div>
                		</li>
    				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
