<div class="payment-success payment-step">
  <div class="direction">
    <a class="wc-back-nav" onclick="javascript:history.back();"><i class="fa fa-angle-left"></i> So let's go back to the
      list</a>
  </div>
</div>

<div class="wc-panel">
  <div class="person_img">
    <img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/watchfeaturestep.jpg">
  </div>
  <div class="row wc-sell-watchinput">
    <div class="col-md-6">
      <div class="w_quo">
        <div class="wc-panel__title">FEATURES OF WATCHES</div>
        <div class="wc-panel__sub mb-5">
          Quotation <span class="sell-watch-input-required">(* required fields)</span>
        </div>
        {{ drupal_entity('webform','watch_input_quotation') }}

      </div>
      <div class="basic_info">
        <div class="wc-panel__sub">
          Basic information <span class="sell-watch-input-required">(* required fields)</span>
        </div>
        {{ drupal_entity('webform','watch_basic_info') }}
        <div class="w_year">
          <label>Year of the factory</label>
          <input id="watch_year" data-date-format="yyyy" placeholder="year 2019"/>
        </div>
        <div class="w_dimeter">
          <label>diameter of</label>
          <div class="d-flex flex-row">
            <input id="di_one" placeholder="mm"/>
            <span class="w_dimeter-x">X</span>
            <input id="di_two" placeholder="mm"/>
          </div>
        </div>
      </div>
      <div class="Price">
        <div class="wc-panel__sub">
          Price <span class="sell-watch-input-required">(* required fields)</span>
        </div>
        {{ drupal_entity('webform','watch_input_price') }}
      </div>
      <div class="option_info">
        <div class="wc-panel__sub">
          Additional information <span class="sell-watch-input-required">(* required fields)</span>
        </div>
        {{ drupal_entity('webform','watch_additional_information') }}
      </div>
      <div class="text-right mt-100">
        <button type="button" class="btn btn-default btn-lg wc-btn-dark">
          <div class="wc-btn-cont">
            <span class="fa  fa-arrow-right"></span>
            {{ '| REUSE CHARACTERISTICS'|t }}
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-6 w_des">
      <div class="wc-sell-watch-input-right-box">
        <div class="wc-sell-watch-input-img-box"></div>
        <label>title</label>
        <input class="watch_title" placeholder="watch title"/>
        <label>price</label>
        <input class="watch_price" placeholder="Ask price 0.00"/>
        <div class="watch_des">
          <h1>Low commission on sales -- high yield</h1>
          <p>Only 6.5% commission on sales </p>
          <p>Up to 90 percent of sales</p>
        </div>
      </div>
    </div>
  </div>
</div>
