<div class="wc-panel ">
  <div class="wc-faqsystem">
    <div class='wc-panel__title text-left'>{{ 'WRISTCHECK'|t }}</div>
    {{ drupal_view('wristcheck_faq') }}
    <div class='wc-panel__title text-left'>{{ 'How much is your watch?'|t }}</div>
    <h5>{{ variables['price'] }}</h5>
    {{ drupal_entity("webform","faq_authsystem") }}
  </div>
</div>
