{% if node.getRevisionAuthor().field_full_name.value %}
    {% set full_name = node.getRevisionAuthor().field_full_name.value %}
{% endif %}
{% if node.getRevisionAuthor().field_description.value %}
    {% set description = node.getRevisionAuthor().field_description.value %}
{% endif %}
{% if full_name is null %}
  {% set full_name =  author_name %}
{% endif %}
{% set category = '' %}
{% set category_name = '' %}
{% for term in node.field_blog_categories  %}
    {% set cat = term.target_id|term_load %}
    {% set category_name = category_name ~ cat.getName ~ ' / ' %}
    {% set category = category ~ term.target_id ~ " "  %}
{% endfor %}
{% set day_created = node.created.value|date('d') %}
{% set my_created = node.created.value|date('M/Y') %}
{% set date = node.created.value|date('M d, Y') %}
{% set img_uri = node.field_images|first.entity.uri.value %}
{% set img_url = file_url(img_uri) %}
{% set img_alt = node.field_images|first.alt %}
{% set comment_count =  node.field_blog_comments.comment_count %}
{% set image800x600 = getUrlByImageStyle(img_uri, 'image800x600')  %}
{% set image1920x900 = getUrlByImageStyle(img_uri, 'image1920x900')  %}
{% set image370x273 = getUrlByImageStyle(img_uri, 'image370x273')  %}
{% set image270x270 = getUrlByImageStyle(img_uri, 'image270x270')  %}
{% set image770x516 = getUrlByImageStyle(img_uri, 'image770x516')  %}

{% if not page %}
    {% if blog_layout == 'grid-2-cols' %}
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="entry text-center">
              <div class="entry-featured">
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
                  <img src="{{ image370x273 }}" alt="entry title">
                </a>
              </div>
              <!-- .entry-featured end -->
              <div class="entry-date">
                {{ date }}
              </div>
              <div class="entry-title text-center">
                <h3>
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a>
                </h3>
              </div>
              <!-- .entry-title end -->
              <div class="entry-meta text-center">
                <span>{{'By :'|t }} </span>
                {{ author_name|render|striptags }}
                /
                <span>{{'Comments :'|t }} </span>
                <span>
                  {{ comment_count }}
                </span>
              </div>
              <!-- .entry-meta end -->
            </div>
            <!-- .entry end -->
        </div>
    {% elseif blog_layout == 'grid-3-cols' %}
      <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="entry text-center">
              <div class="entry-featured">
                  <a href="blog-single-post-fullwidth.html">
                      <img src="{{ image370x273 }}" alt="entry title">
                  </a>
              </div>
              <!-- .entry-featured end -->
              <div class="entry-date">
                  {{ date }}
              </div>
              <div class="entry-title text-center">
                  <h3>
                      <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a>
                  </h3>
              </div>
              <!-- .entry-title end -->
              <div class="entry-meta text-center">
                  <span>{{'By :'|t }} </span>
                  {{ author_name|render|striptags }}
                  /
                  <span>{{'Comments :'|t }} </span>
                  <span>
                    {{ comment_count }}
                  </span>
              </div>
              <!-- .entry-meta end -->
          </div>
          <!-- .entry end -->
      </div>
    {% elseif blog_layout == 'grid-4-cols' %}
      <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="entry">
              <div class="entry-featured">
                  <a href="blog-single-post-fullwidth.html">
                      <img src="{{ image270x270 }}" alt="entry title">
                  </a>
              </div>
              <!-- .entry-featured end -->
              <div class="entry-date">
                  {{ date }}
              </div>
              <div class="entry-title">
                  <h3>
                      <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a>
                  </h3>
              </div>
              <!-- .entry-title end -->
              <div class="entry-meta">
                  <span>{{'By :'|t }} </span>
                  {{ author_name|render|striptags }}
                  /
                  <span>{{'Comments :'|t }} </span>
                  <span>
                    {{ comment_count }}
                  </span>
              </div>
              <!-- .entry-meta end -->
          </div>
          <!-- .entry end -->
      </div>
    {% elseif blog_layout == 'masonary' %}
      <div class="entry">
          <div class="entry-featured">
              <a href="blog-single-post-fullwidth.html">
                  <img src="{{ img_url }}" alt="entry title">
              </a>
          </div>
          <!-- .entry-featured end -->
          <div class="entry-date">
              {{ date }}
          </div>
          <div class="entry-title">
              <h3>
                  <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a>
              </h3>
          </div>
          <!-- .entry-title end -->
          <div class="entry-meta">
              <span>{{'By :'|t }} </span>
              {{ author_name|render|striptags }}
              /
              <span>{{'Comments :'|t }} </span>
              <span>
                {{ comment_count }}
              </span>
          </div>
          <!-- .entry-meta end -->
      </div>
	  {% else %}
      <div class="entry">
          <div class="entry-featured">
              <img src="{{ image770x516 }}" alt="entry title">
          </div>
          <!-- .entry-featured end -->
          <div class="entry-date text-center">
              {{ date }}
          </div>
          <div class="entry-title text-center">
              <h3>
                  <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a>
              </h3>
          </div>
          <!-- .entry-title end -->
          <div class="entry-meta text-center">
              <span>{{'By :'|t }} </span>
              {{ author_name|render|striptags }}
              /
              <span>{{'Comments :'|t }} </span>
              <span>
                {{ comment_count }}
              </span>
          </div>
          <!-- .entry-meta end -->
          <div class="entry-content">
              {{ node.body.value|striptags|slice(0,500) ~ '...'  }}
          </div><!-- .entry-content end -->
          <div class="text-center">
              <span class="entry-more">
                  <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{'read More'|t}}<i class="wristcheck-arrow-long-right"></i></a>
              </span>
              <span class="entry-share">
                  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ pageURL }}" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook text-s"></i></a>
                  <a target="_blank" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ node.title.value }}" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter text-s"></i></a>
                  <a target="_blank" href="https://plus.google.com/share?url={{ pageURL }}" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus text-s"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ pageURL }}&amp;title={{ node.title.value }}" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin text-s"></i></a>
              </span>
          </div>
      </div>
	  {% endif %}
{% else %}
	{% 	if blog_single_style == 'creative' %}
	    <div class="entry">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="entry-prev-next">
                    <div class="entry-prev">
                        {% if link_prev_blog %}
                            <div class="entry-prev-icon">
                                <a href="{{ link_prev_blog }}"><i class="wristcheck-arrow-long-left"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <!-- .entry-prev end -->
                    <div class="entry-next">
                        {% if link_next_blog %}
                            <div class="entry-next-icon">
                                <a href="{{ link_next_blog }}"><i class="wristcheck-arrow-long-right"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <!-- .entry-next end -->
                    <div class="clearfix"></div>
                </div>              
                <!-- .entry-prev-next end -->
                <div class="entry-date text-center">
                    {{ date }}
                </div>
                <div class="entry-title text-center">
                    <h3>
                    {{ node.title.value }}
                    </h3>
                </div>
                <!-- .entry-title end -->
                <div class="entry-meta text-center">
                    <span>{{'By'|t}} : </span>
                    {{ author_name|render|striptags }}
                    /
                    <span>{{'In :'|t}} </span>
                    <span>
                    {{ category_name|trim(' ')|trim('/') }}
                    </span>
                    /
                    <span>{{'Comments :'|t}} </span>
                    <span>
                    {{ comment_count }}
                    </span>
                </div>
                <!-- .entry-meta end -->
                <div class="entry-featured">
                    <img src="{{ img_url }}" class="img-single" alt="entry title">
                </div>
                <!-- .entry-featured end -->
            </div>
            <!-- .col-lg-10 end -->
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="entry-post">
                    <div class="entry-content">
                        {{ content.body }}
                    </div>
                </div>
                <!-- .entry-post end -->
                <div class="entry-share">
                    <span class="share-title">share this article:</span>
                    <span class="share-links">
                        <span class="share-title">share this post:</span>
                            <span class="share-links">
                            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ pageURL }}" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook text-s"></i></a>
                            <a target="_blank" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ node.title.value }}" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter text-s"></i></a>
                            <a target="_blank" href="https://plus.google.com/share?url={{ pageURL }}" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus text-s"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ pageURL }}&amp;title={{ node.title.value }}" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin text-s"></i></a>
                        </span>
                    </span>
                </div>
                <!-- .entry-share end -->
                <div class="entry-author bg-gray">
                    <div class="entry-widget-title clearfix">
                        {{'About Author'|t}}
                    </div>
                    <div class="entry-widget-content">
                        <div class="entry-author-img">
                            <img class="img-fluid" src="assets/images/blog/author/1.jpg" alt="Entry Author">
                        </div>
                        <!-- .entry-author-img end -->
                        <div class="entry-author-bio">
                            <div class="entry-author-img">
                                {{ author_picture }}
                            </div>
                            <!-- .entry-author-img end -->
                            <div class="entry-author-bio">
                                <h6>{{ full_name }}</h6>
                                <p>{{ description }}</p>
                                <div class="entry-author-social">
                                    {% for so in node.getRevisionAuthor().field_social %}
                                        <a href="{{ so.uri }}">{{ so.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- .entry-author-img end -->
                    </div>
                </div>
                <!-- .entry-author end -->
                {{ drupal_region('blog_single_section') }}
                {{ content.field_blog_comments }}
                <!-- .entry-comments-form end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>   
	{% 	else %}
    		<div class="entry">
                <div class="entry-featured">
                    <img src="{{ img_url }}" class="img-single" alt="entry title">
                </div>
                <!-- -.entry-featured end -->
                <div class="entry-post">
                    <div class="entry-date text-center">
                        {{ date }}
                    </div>
                    <div class="entry-title text-center">
                        <h3>
                            {{ node.title.value }}
                        </h3>
                    </div>
                    <!-- .entry-title end -->
                    <div class="entry-meta text-center">
                        <span>{{'By'|t}} : </span>
                        {{ author_name|render|striptags }}
                        /
                        <span>{{'In :'|t}} </span>
                        <span>
                        {{ category_name|trim(' ')|trim('/') }}
                        </span>
                        /
                        <span>{{'Comments :'|t}} </span>
                        <span>
                        {{ comment_count }}
                        </span>
                    </div>
                    <!-- .entry-meta end -->
                    <div class="entry-content">
                        {{ content.body }}
                    </div>
                </div>
                <!-- .entry-post end -->
            </div>
            <!-- .entry end -->
            <div class="entry-share">
                <span class="share-title">share this post:</span>
                <span class="share-links">
                <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ pageURL }}" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook text-s"></i></a>
                <a target="_blank" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ node.title.value }}" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter text-s"></i></a>
                <a target="_blank" href="https://plus.google.com/share?url={{ pageURL }}" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus text-s"></i></a>
                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ pageURL }}&amp;title={{ node.title.value }}" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin text-s"></i></a>
                </span>
            </div>
            <!-- .entry-share end -->
            <div class="entry-prev-next">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {% if link_prev_blog %}
                            <div class="entry-prev bg-gray">
                                <div class="entry-prev-icon">
                                    <a href="{{ link_prev_blog }}"><i class="wristcheck-arrow-long-left"></i></a>
                                </div>
                                <div class="entry-prev-content">
                                    <h6>{{'previous'|t}}</h6>
                                    <a class="entry-link" href="{{ link_prev_blog }}">{{ title_prev_blog|striptags|slice(0,30) ~ '...' }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <!-- .entry-prev end -->
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {% if link_next_blog %}
                            <div class="entry-next bg-gray">
                                <div class="entry-next-content text-right">
                                    <h6>{{'next'|t}}</h6>
                                    <a class="entry-link" href="{{ link_next_blog }}">{{ title_next_blog|striptags|slice(0,30) ~ '...' }}</a>
                                </div>
                                <div class="entry-next-icon">
                                    <a href="{{ link_next_blog }}"><i class="wristcheck-arrow-long-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        <!-- .entry-next end -->
                    </div>
                </div>
            </div>
            <!-- .entry-share end -->
            <div class="entry-author bg-gray">
                <div class="entry-widget-title clearfix">
                    {{'About Author'|t}}
                </div>
                <div class="entry-widget-content">
                    <div class="entry-author-img">
                        {{ author_picture }}
                    </div>
                    <!-- .entry-author-img end -->
                    <div class="entry-author-bio">
                        <h6>{{ full_name }}</h6>
                        <p>{{ description }}</p>
                        <div class="entry-author-social">
                            {% for so in node.getRevisionAuthor().field_social %}
                                <a href="{{ so.uri }}">{{ so.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- .entry-author-img end -->
                </div>
            </div>
            {{ drupal_region('blog_single_section') }}
            {{ content.field_blog_comments }}
	{% 	endif %}
{% endif %}