{% if header_layout == 'header1' %}
    <div class='header-box'>
        <div class='container'>
            <div class='header-top flex-row'>
                <div class='header-top__left flex-1 flex-row'>
                    <a href='javascript:;' class='wc-logo'>WRISTCHECK</a>
                    <div class='header-top-search'>
                        <span class='header-search__icon'></span>
                        <input />
                    </div>
                </div>
                <div class='header-top__right flex-row align-center'>
                    <div class='header-cart flex-row align-center'>
                        <span class='header-cart__icon'></span>
                        <span>WISHLIST</span>
                    </div>
                    <span class='vertical-line'></span>
                    <div class='header-profile flex-row align-center'>
                        <span>MY FROFILE</span>
                        <span class='header-cart__icon'></span>
                    </div>
                </div>
            </div>
            <header id="navbar-spy" class="header wc-header">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid container-p0">
                        {# <a class="navbar-brand" href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="drupal theme">
                        </a> #}
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbarContent">
                            {{ page.main_menu }}
                            <div class="module-container">
                                <!-- Module Languages -->
                                <!-- Module Social -->
                                {{ page.top_header }}
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>
            </header>
        </div>
    </div>
{% elseif header_layout == 'header2' %}
    <div class='header-box'>
        <div class='container'>
            <header id="navbar-spy" class="header header-11 clearfix">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class=" container-fluid pr-0 pl-0">
                        <div class="col-12 col-lg-4">
                            <div class="module module-social module-social_2 ml-0">
                                {{ page.top_header }}
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <a class="navbar-brand" href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="drupal theme">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="col-12 col-lg-4">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbarContent">
                                <!-- Module Search -->
                                <div class="module-container ml-auto">
                                    <!-- Module Menu Popup -->
                                    <div class="module module-menu-popup">
                                        <div class="module-icon menu-icon">
                                            {{'menu'|t}}
                                        </div>
                                        <div class="module-menu-box">
                                            <div class="module-content menu-box">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="menu-items">
                                                            {{ page.header2_menu }}
                                                        </div>
                                                            
                                                        <div class="social-account">
                                                            {{ page.top_header2 }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .module-menu-box end -->   
                                    </div>
                                    <!-- Module Search -->
                                    <div class="module module-search">
                                        <div class="module-icon search-icon">
                                            <i class="fa fa-search"></i>
                                            <span class="title">{{'search'|t}}</span>
                                        </div>
                                    </div>
                                    <!-- Module Cart -->
                                    <div class="module module-cart">
                                        {% if page.shopping_cart %}
                                            {{ page.shopping_cart }}
                                        {% endif %} 
                                        
                                    </div>
                                    <!-- Module Side NAV -->
                                    <div class="module module-side-nav">
                                        <div class="module-icon side-nav-icon">
                                            <i class="fa fa-bars"></i>
                                            <span class="title">{{'Side Navigation'|t}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.navbar-collapse -->  
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div class="module-search-box">
                    <div class="module-content search-box">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 search-form">
                                    <div class="search-close"><i class="fa fa-close"></i></div>
                                {{ page.search }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .module-search-box end --> 
            </header>
            <div class="hamburger-panel">
                <div class="hamburger-logo">
                    <a href="{{ path('<front>') }}">
                    <img src="{{ logo }}" alt="log">
                    </a>
                </div>
                <div class="list-unstyled list-links">
                    {{ page.header2_menu }}
                </div>
                <div class="social-share">
                    {{ page.top_header }}
                </div>
                <div class="copywright">
                    {{ page.copyright }}
                </div>
            </div>
        </div>
    </div>

    
{% elseif header_layout == 'header3' %}
    <div class='header-box'>
        <div class='container'>
            <header id="navbar-spy" class="header header-4 clearfix">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class=" container-fluid pr-0 pl-0">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand" href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="drupal theme">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbarContent">
                            {{ page.main_menu }}
                            <!-- Module Search -->
                            <div class="module-container">
                                <!-- Module Search -->
                                <div class="module module-search">
                                    <div class="module-icon search-icon">
                                        <i class="fa fa-search"></i>
                                        <span class="title">{{'search'|t}}</span>
                                    </div>
                                </div>
                                <!-- Module Cart -->
                                <div class="module module-cart">
                                        {% if page.shopping_cart %}
                                            {{ page.shopping_cart }}
                                        {% endif %} 
                                        
                                    </div>
                                <!-- Module Side NAV -->
                                <div class="module module-side-nav">
                                    <div class="module-icon side-nav-icon">
                                        <i class="fa fa-bars"></i>
                                        <span class="title">{{'Side Navigation'|t}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div class="module-search-box">
                    <div class="module-content search-box">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 search-form">
                                    <div class="search-close"><i class="fa fa-close"></i></div>
                                {{ page.search }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .module-search-box end --> 
            </header>
            <div class="hamburger-panel">
                <div class="hamburger-logo">
                    <a href="{{ path('<front>') }}">
                    <img src="{{ logo }}" alt="log">
                    </a>
                </div>
                <div class="list-unstyled list-links">
                    {{ page.header2_menu }}
                </div>
                <div class="social-share">
                    {{ page.top_header }}
                </div>
                <div class="copywright">
                    {{ page.copyright }}
                </div>
            </div>
        </div>
    </div>
{% elseif header_layout == 'header4' %}
    <div class='header-box'>
        <div class='container'>
            <header id="navbar-spy" class="header header-6 clearfix">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class=" container-fluid pr-0 pl-0">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand" href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="drupal theme">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbarContent">
                            <!-- Module Search -->
                            <div class="module-container ml-auto">
                                <!-- Module Menu Popup -->
                                <div class="module module-menu-popup">
                                    <div class="module-icon menu-icon">
                                        menu
                                    </div>
                                    <div class="module-menu-box">
                                        <div class="module-content menu-box">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="menu-items">
                                                        {{ page.header2_menu }}
                                                    </div>
                                                        
                                                    <div class="social-account">
                                                        {{ page.top_header2 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .module-menu-box end -->   
                                </div>
                                <!-- Module Search -->
                                <div class="module module-search">
                                    <div class="module-icon search-icon">
                                        <i class="fa fa-search"></i>
                                        <span class="title">{{'search'|t}}</span>
                                    </div>
                                </div>
                                <!-- Module Cart -->
                                <div class="module module-cart">
                                    {% if page.shopping_cart %}
                                        {{ page.shopping_cart }}
                                    {% endif %} 
                                </div>
                                <!-- Module Side NAV -->
                                <div class="module module-side-nav">
                                    <div class="module-icon side-nav-icon">
                                        <i class="fa fa-bars"></i>
                                        <span class="title">{{ 'Side Navigation'|t }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <div class="module-search-box">
                    <div class="module-content search-box">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 search-form">
                                    <div class="search-close"><i class="fa fa-close"></i></div>
                                {{ page.search }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .module-search-box end --> 
            </header>
            <div class="hamburger-panel">
                <div class="hamburger-logo">
                    <a href="{{ path('<front>') }}">
                    <img src="{{ logo }}" alt="log">
                    </a>
                </div>
                <div class="list-unstyled list-links">
                    {{ page.header2_menu }}
                </div>
                <div class="social-share">
                    {{ page.top_header }}
                </div>
                <div class="copywright">
                    {{ page.copyright }}
                </div>
            </div>
        </div>
    </div>
{% elseif header_layout == 'header5' %}
    <div class='header-box'>
        <div class='container'>
            <header id="navbar-spy" class="header header-6 clearfix">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class=" container-fluid pr-0 pl-0">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="log">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbarContent">
                            <!-- Module Search -->
                            <div class="module-container ml-auto">
                                <!-- Module Menu Popup -->
                                <div class="module module-menu-popup">
                                    <div class="module-icon menu-icon">
                                        menu
                                    </div>
                                    <div class="module-menu-box">
                                        <div class="module-content menu-box">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="menu-items">
                                                        {{ page.header2_menu }}
                                                    </div>
                                                        
                                                    <div class="social-account">
                                                        {{ page.top_header2 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .module-menu-box end -->   
                                </div>
                                <!-- Module Side NAV -->
                                <div class="module module-side-nav">
                                    <div class="module-icon side-nav-icon">
                                        <i class="fa fa-bars"></i>
                                        <span class="title">{{'Side Navigation'|t}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </header>
            <div class="hamburger-panel">
                <div class="hamburger-logo">
                    <a href="{{ path('<front>') }}">
                    <img src="{{ logo }}" alt="log">
                    </a>
                </div>
                <div class="list-unstyled list-links">
                    {{ page.header2_menu }}
                </div>
                <div class="social-share">
                    {{ page.top_header }}
                </div>
                <div class="copywright">
                    {{ page.copyright }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class='header-box'>
        <div class='container'>
            <header id="navbar-spy" class="header header-1">
                <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid container-p0">
                        <a class="navbar-brand" href="{{ path('<front>') }}">
                            <img src="{{ logo }}" alt="drupal theme">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbarContent">
                            {{ page.main_menu }}
                            <div class="module-container">
                                <!-- Module Languages -->
                                <!-- Module Social -->
                                {{ page.top_header }}
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>
            </header>
        </div>
    </div>
{% endif %}