{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-container">

  <header role="banner">
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="name-and-slogan">
        {% if site_name %}
         <h1 class="site-name">
           <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
         </h1>
        {% endif %}

        {% if site_slogan %}
          <div class="site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>{# /.name-and-slogan #}
    {% endif %}

  </header>

  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
      <h1>This is the 124423523ththtrhe page</h1>
      {{ maintenance_form }}
    {% endif %}

    {{ page.highlighted }}

    {{ page.content }}
  </main>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>{# /.layout-sidebar-first #}
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>{# /.layout-sidebar-second #}
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<head>
    <meta charset="utf-8">
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link media="all" type="text/css" rel="stylesheet" href="./maintainancepage.css">
</head>
<style>

</style>

<body>
    <div class="contain"></div>
    <div class="all-postion-big">
        <div id="comingsoonback" class="comingsoonback1">
            <div class="log"><img src="./maintainancepageimage/wristchecklog2.png" alt=""></div>
            <div class="zhong" style="text-align:center;"><input type="text" value=" Register for Email update " style="width:90%; height:60px; ">
            </div>
            <div class="xia">&nbsp;
                <div class="baofang">&nbsp;</div>
                <div class="fenge">&nbsp;</div>
                <div class="submit">
                    <span class="test_top">SUBMIT</span>
                </div>
            </div>

        </div>
    </div>
    <div class="all-postion-small">
        <div id="comingsoonback-small" class="comingsoonback1-small comingsoonback2-small">
            <div class="log-small"><img src="./maintainancepageimage/wristchecklog2.png" width='349' height='65' alt=""></div>
            <div class="zhong-small" style="text-align:center;"><input type="text" value=" Register for Email update " style="width:90%; height:60px; ">
            </div>
            <div class="xia-small">&nbsp;

                <div class="submit-small">
                    <span class="test_top-small">SUBMIT</span>
                </div>
            </div>

        </div>
    </div>
    </div>
</body>