<li>
  <div class="avatar">
      <div class="user-comment-img">
      	{% if user_picture %}
            {{ user_picture }}
        {% endif %}
      </div>
  </div>
  <div class="commen-content">
      <div class="comment-meta">
          <h6>{{ author }}</h6>
          <div class="comment-date">
              <span class="date">{{ comment.created.value|date('F d, Y \\a\\t g:i a')|t  }}</span>
          </div>
      </div>
      <p>{{ content.comment_body }}</p>
      <div class="reply">{{ content.links }}</div>
  </div>
</li>