{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{#<article{{ attributes.addClass('profile') }}>#}
{#  {% if content %}#}
{#    {{- content -}}#}
{#  {% endif %}#}
{#</article>#}
<div class="row">
  <h1>PERSONAL INFORMATION</h1>
  {{ drupal_view('wristcheck_user_profile','personal_information') }}
</div>

<div class="row">
  <div class="col-md-6">
    <h1>PORTFOLIO</h1>
    {{ drupal_view('wristcheck_portfolio') }}
  </div>
  <div class="col-md-6">
    <h1>PAYMENT</h1>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>TRANSACTIONS</h1>
  </div>
  <div class="col-md-6">
    <h1>SETTINGS</h1>
    {{ drupal_view('wristcheck_user_profile','settings') }}
  </div>
</div>

