{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{#<article{{ attributes }}>#}
{#  {{- product -}}#}
{#</article>#}
{#{% set img_uri = product_entity.field_images.entity.uri.value %}#}
{#{% set img_url = file_url(img_uri) %}#}
{#{% set comment_count =  product_entity.field_comments.comment_count %}#}
{#{% if comment_count <= 0  %}#}
{#  {% set comment_count = 0 %}#}
{#{% endif %}#}
{#{% set image112x112 = getUrlByImageStyle(img_uri, 'image112x112')  %}#}


{#<!-- .aret end -->#}
{#<div class="product-img mb-50">#}
{#  <img class="img-fluid img-full-width" src="{{ img_url }}" alt="product image">#}
{#</div>#}
{#<!-- .product-img end -->#}
{#<div class="product-title">#}
{#  <h3>{{ product.title }}</h3>#}
{#</div>#}
{#<!-- .product-title end -->#}
{#<div class="product-meta mb-30">#}
{#  <div class="col-md-10 product-price pull-left pull-none-xs">#}
{#    {{ product.variation_price }}#}
{#  </div>#}
{#  <!-- .product-price end -->#}
{#  <div class="commerce-votting product-review text-right text-center-xs">#}
{#    {{ product.field_voting }}#}
{#  </div>#}
{#  <!--- .product-review end -->#}
{#</div>#}
{#<div class="product-desc">#}
{#  {{ product.body }}#}
{#</div>#}
{#<!-- .product-desc end -->#}
{#<hr>#}
{#<div class="product-details">#}
{#  <h5>Other Details :</h5>#}
{#  <ul class="list-unstyled">#}
{#    <li>Code : <span class='commerce-css'>{{ product.variation_sku }}</span></li>#}
{#    <li>Availabiltity : <span>{{ product_entity.field_availabiltity.value }}</span></li>#}
{#    <li>Brand : <span>{{ product_entity.field_brand.value }}</span></li>#}
{#  </ul>#}
{#</div>#}
{#<!-- .product-details end -->#}
{#<hr>#}
{#<div class="product-action product-variation-css clearfix">#}

{#  {{ product.variations }}#}
{#</div>#}
{#<hr>#}
{#<!-- .product-action end -->#}
{#<div class="product-share">#}
{#  <h5 class="share-title">share product: </h5>#}
{#  <!--  <a class="share-twitter" href="#">Twitter</a>#}
{#   <a class="share-facebook" href="#">Facebook</a>#}
{#   <a class="share-pinterest" href="#">Pinterest</a>#}
{#   <a class="share-linkedin" href="#">Linkedin</a>#}
{#   <a class="share-google" href="#">Google +</a> -->#}
{#  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ pageURL }}" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">Facebook</a>#}
{#  <a target="_blank" href="http://twitter.com/share?url={{ pageURL }}&amp;text={{ node.title.value }}" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">Twitter</a>#}
{#  <a target="_blank" href="https://plus.google.com/share?url={{ pageURL }}" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">Google +</a>#}
{#  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ pageURL }}&amp;title={{ node.title.value }}" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">Linkedin</a>#}
{#</div>#}
{#<!-- .product-share end -->#}
{#<div class="product-tabs mb-60">#}
{#  <!-- Nav tabs -->#}
{#  <ul class="nav nav-tabs" role="tablist">#}
{#    <li><a class="nav-item nav-link active" href="#description" role="tab" data-toggle="tab">{{'description'|t}}</a></li>#}
{#    <li><a class="nav-item nav-link" href="#details" role="tab" data-toggle="tab">{{'details'|t}}</a></li>#}
{#    <li><a class="nav-item nav-link" href="#reviews" role="tab" data-toggle="tab">{{'reviews'|t}}( {{ comment_count }} )</a></li>#}
{#  </ul>#}
{#  <!-- Tab panes -->#}
{#  <div class="tab-content">#}
{#    <div role="tabpanel" class="tab-pane active" id="description">#}
{#      {{ product.field_description }}#}
{#    </div>#}
{#    <!-- #description end -->#}
{#    <div role="tabpanel" class="tab-pane" id="details">#}
{#      <h5>{{'Technical Details'|t}}</h5>#}
{#      {{ product.field_details }}#}
{#    </div>#}
{#    <!-- #details end -->#}
{#    <div role="tabpanel" class="tab-pane reviews" id="reviews">#}
{#      {{ product.field_comments }}#}
{#    </div>#}
{#    <!-- #reviews end -->#}
{#  </div>#}
{#  <!-- #tab-content end -->#}
{#</div>#}

{#{{ drupal_view('product_view', 'product_relative',product.field_categories.0['#options'].entity.tid.value) }}#}
{#{{ dump(product.variation_price[0]) }}#}
<div class="row">
  <div class="col-md-6">
    <div class="wc-product-imglist1">
      {{ drupal_view('wristcheck_product_jcarousel','top') }}
    </div>
    <div class="wc-product-imglist2">
      {{ drupal_view('wristcheck_product_jcarousel','page_1') }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="wc-product-introduction">
      <div class="wc-product-title">{{ product.field_subname }}</div>
      <div class="wc-product--row">
        <div class="wc-product-title bold">{{ product.title }}</div>
        {{- product.flag_wristcheck_wishlist -}}
      </div>
      <div class="wc-product-num">
        {{ product.field_ref_number }}
      </div>
      <div class="wc-product-btn">
        <a href="javascript:;" class="wc-product-add-wishlist">
          <span class="fa fa-arrow-right"></span>
          | ADD TO WISHLIST</a>
        <div class="wc-product-variations">
          {{- product.variations -}}
        </div>
      </div>

      <div class="wc-product-content">{{ product.field_introduction }}</div>
      <div class="wc-product--row">
        <div class="wc-product-buy-new pr active" id="wc-product-buy-new" product_id="{{ product.id }}">
          {% set url = url('<current>')['#markup'] %}
          <a href="/custom/product/new/{{ url|split('/')|last }}">BUY NEW FROM
            {{ product.variation_price }}
          </a>
          {#          {{  product.variation_price|slice(1)  }}#}
        </div>
        <div class="wc-product-buy pr" id="wc-product-buy-used" product_id="{{ product.id }}">
          {% set url = url('<current>')['#markup'] %}
          <a href="/custom/product/old/{{ url|split('/')|last }}">BUY USED FROM
            {{ drupal_view('wristcheck_second_hands_watch') }}
          </a>
        </div>
        {{ drupal_view('wristcheck_second_hands_watch','product_single_page_two_hands_lists') }}
      </div>
    </div>
    <div class="wc-shield">
      <img src="/themes/custom/wristcheck_barrio/images/shield.png" alt="wristcheck guarantee" class="img-fluid"/>
    </div>
  </div>
</div>

<div class="wc-panel">
  <div class="wc-panel__title text-center">{{ 'THE SELLER CREDIT'|t }}</div>
  {{ drupal_view('wristcheck_products','wristcheck_basic_info') }}
</div>
<div class="row">
  <div class="col-md-12 wc-product-body">
    {{ product.body }}
  </div>
  <div class="col-md-12 pl-0 pr-0">
    {{ product.field_watch_params }}
  </div>
</div>

<div class="wc-panel">
  <div class="wc-panel__title">{{ 'Functions'|t }}</div>
  {{ drupal_view('wristcheck_products','product_functions') }}
</div>
<div class="wc-panel">
  <div class="wc-panel__title">{{ 'Others'|t }}</div>
  {{ drupal_view('wristcheck_products','product_others') }}
</div>

<div class="row">
  <div class="col-md-12 wc-product-specifications">
    {{ product.field_specifications }}
  </div>
</div>
<div class="wc-panel">
  <div class="wc-panel__title text-center">{{ 'RELATED WATCHES'|t }}</div>
  {{ drupal_view('wristcheck_models') }}
</div>

<div class="wc-panel wc-testimdnials">
  <h1 class='wc-panel__title text-center'>{{ 'TESTIMDNIALS'|t }}</h1>
  <div class='container pt-50 pb-100'>
    {{ drupal_view('wristcheck_testimdnials','default') }}
  </div>
</div>

{# In a Twig template we attach the library. #}
{{ attach_library('wristcheck_barrio/product-styling') }}
