{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="row">
  <div class="col-md-7">
    <div class="wc-product-imglist1">
        {{ drupal_view('wristcheck_product_jcarousel','image') }}
    </div>
  </div>
  <div class="col-md-5">
    <div class="wc-product-introduction">
      <div class="wc-product-title">{{ product.field_related_brand }}</div>
      <div class="wc-product-title bold">{{ product.title }}</div>
      <div>
        {{- product.field_ask_price -}}
      </div>
      <div class="wc-product-Inspected-tip">
        Inspected by certified watchmaker
      </div>
      <div>
        {{ product.uid }}
      </div>
      <div class="d-flex flex-row">
        <a href="javascript:;" class="wc-product-add-wishlist">
          <div class="wc-btn-cont">
            ADD TO BAG
          </div>
        </a>
        <a href="javascript:;" class="wc-product-add-wishlist ml-2">
          <div class="wc-btn-cont">
            Negotiate price
          </div>
        </a>
      </div>
      <div class="wc-product--row">
        {{- product.flag_wristcheck_wishlist -}}
      </div>
      {{ product.field_original_box }}
      {{ product.field_original_papers }}
      {{ product.field_authenticity_guaranteed }}
      {{ product.field_secure_payment_in_escrow }}
      <div class="wc-product-btn">
        
        <div class="wc-product-variations">
          {{- product.variations -}}
        </div>
      </div>

      <div class="wc-product-content">{{ product.field_introduction }}</div>
      <div class="wc-product--row">
        <div class="wc-product-buy-new pr active" id="wc-product-buy-new" product_id="{{ product.id }}">
          {% set url = url('<current>')['#markup'] %}
          <a href="/custom/product/new/{{ url|split('/')|last }}"><span>BUY NEW FROM</span>
            {{ product.variation_price }}
          </a>
          {#          {{  product.variation_price|slice(1)  }}#}
        </div>
        <div class="wc-product-buy pr" id="wc-product-buy-used" product_id="{{ product.id }}">
          {% set url = url('<current>')['#markup'] %}
          <a href="/custom/product/old/{{ url|split('/')|last }}">BUY USED FROM
            {#            {{ drupal_view('wristcheck_second_hands_watch') }}#}
          </a>
          <div class="wc-product-buy-used-popup">
            {{ drupal_view('wristcheck_second_hands_watch','product_single_page_two_hands_lists') }}
          </div>
        </div>
      </div>
    </div>
{#    <div class="wc-shield">#}
{#      <div class="wc-shield-box">#}
{#        <div class="wc-shield-box__left">#}
{#          <h1>WRISTCHECK GUARANTEE</h1>#}
{#          <div class="wc-shield-box__item clearfix">#}
{#            <span class="wc-shield-box__item-img">#}
{#              <img src="/themes/custom/wristcheck_barrio/images/icons/dui.png" alt="">#}
{#            </span>#}
{#            AUTHENTICITY GUARANTEED#}
{#          </div>#}
{#          <div class="wc-shield-box__item clearfix">#}
{#            <span class="wc-shield-box__item-img">#}
{#              <img src="/themes/custom/wristcheck_barrio/images/icons/qian.png" alt="">#}
{#            </span>#}
{#            SECURE PAYMENT IN ESCROW#}
{#          </div>#}
{#          <div class="wc-shield-box__item clearfix">#}
{#            <span class="wc-shield-box__item-img">#}
{#              <img src="/themes/custom/wristcheck_barrio/images/icons/ren.png" alt="">#}
{#            </span>#}
{#            SELLER GETS PAID ONCE#}
{#          </div>#}
{#        </div>#}
{#        <div class="wc-shield-box__right">#}
{#          <img src="/themes/custom/wristcheck_barrio/images/icons/dun.png" alt="">#}
{#        </div>#}
{#      </div>#}
      {{ drupal_entity("block_content",58) }}
    </div>
  </div>
</div>

{#<div class="wc-panel">#}
{#  <div class="wc-panel__title text-center">{{ 'THE SELLER CREDIT'|t }}</div>#}
{#  {{ drupal_view('wristcheck_products','wristcheck_basic_info') }}#}
{#</div>#}
{#description#}
<div class="row">
  <div class="col-md-12 wc-product-body">
    {{ product.body }}
  </div>
</div>
{#description end#}

<div class="wc-v2-panel">
  {{ product.field_watch_params }}
</div>

{#<div class="wc-panel field--name-field-watch-params">#}
{#  <div class="col-md-6">#}
{#    <h4 class="wc-product-introduction__title">#}
{#      <span>{{ 'Functions'|t }}</span>#}
{#    </h4>#}
{#    {{ drupal_view('wristcheck_products','product_functions') }}#}
{#  </div>#}
{#  <div class="col-md-6">#}
{#    <h4 class="wc-product-introduction__title">#}
{#      <span>{{ 'Others'|t }}</span>#}
{#    </h4>#}
{#    {{ drupal_view('wristcheck_products','product_others') }}#}
{#  </div>#}
{#</div>#}

{#<div class="wc-panel">#}
{#  <div class="wc-panel__title text-center">{{ 'SPECIFICATIONS'|t }}</div>#}
{#  <div class="row">#}
{#    <div class="col-md-12 wc-product-specifications wc-display-label">#}
{#      {{ product.field_specifications }}#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<div class="wc-panel">
  <div class="wc-panel__title text-center">{{ 'READ MORE'|t }}</div>
  {{ drupal_view('wristcheck_buy_magazine','read_more') }}
</div>

<div class="wc-panel">
  <div class="wc-panel__title text-center">{{ 'RELATED WATCHES'|t }}</div>
  {{ drupal_view('wristcheck_products','related_models') }}
</div>

{#<div class="wc-panel wc-testimdnials">#}
{#  <h1 class='wc-panel__title text-center'>{{ 'TESTIMONIALS'|t }}</h1>#}
{#  <div class='container pt-50 pb-100'>#}
{#    {{ drupal_view('wristcheck_testimdnials','default') }}#}
{#  </div>#}
{#</div>#}

{# In a Twig template we attach the library. #}
{{ attach_library('wristcheck_barrio/product-styling') }}
