{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="row">
    <div class="col-md-7">
        <div class="wc-product-imglist1">
            {{ drupal_view('wristcheck_product_jcarousel','image') }}
        </div>
    </div>
    <div class="col-md-5">
        <div class="wc-product-introduction">
            <div class="wc-product-title">{{ product.field_related_brand }}</div>
            <div class="wc-product-title bold">{{ product.title }}</div>
            <div>
                {{- product.field_ask_price -}}
            </div>
            <div class="wc-product-Inspected-tip">
                Inspected by certified watchmaker
            </div>
            <div class="wc-product-signature">
                <img src="/themes/custom/wristcheck_barrio/images/v2/signature.png"/>
            </div>
            <div class="wc-product-signature-name">
                {{ product.uid }}
            </div>
            <div class="d-flex flex-row">
              {% set url = url('<current>')['#markup'] %}
                <a href="/custom/product/new/{{ url|split('/')|last }}" class="wc-product-add-bag">
                    ADD TO BAG
                </a>
                <a href="javascript:;" class="wc-product-negotiate">
                    NEGOTIATE PRICE
                </a>
            </div>
            <div class="wc-product-specification">
                {{ product.flag_wristcheck_wishlist }}
                {{ product.field_original_box }}
                {{ product.field_original_papers }}
                {{ product.field_authenticity_guaranteed }}
                {{ product.field_secure_payment_in_escrow }}
            </div>
            <div class="wc-product-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="javascript:;" aria-controls="description" role="tab" data-toggle="tab">DESCRIPTION</a>
                    </li>
                    <li role="presentation">
                        <a href="javascript:;" aria-controls="details" role="tab" data-toggle="tab">DETAILS</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="description">
                        {{ product.field_introduction }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="details">
						{{ product.field_watch_params }}
					</div>
                </div>
            </div>
			<a class="wc-product-report" href="javascript:;">Report a suspicious listing</a>
        </div>
        {{ drupal_entity("block_content",58) }}
    </div>
</div>
<div class="v-line"></div>
<div class="wc-panel">
    <div class="wc-panel__title text-center">{{ 'READ MORE'|t }}</div>
    {{ drupal_view('wristcheck_buy_magazine','read_more') }}
</div>
<div class="wc-panel">
    <div class="wc-panel__title text-center">{{ 'RELATED PRODUCTS'|t }}</div>
  <div class="portfolio">
    {{ drupal_view('wristcheck_products','related_models') }}
  </div>
</div>

{{ attach_library('wristcheck_barrio/product-styling') }}
