  {% if node.field_style_contact.value == 'contact1' %}
      <section id="contact1" class="contact contact-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                {{ content.body }}
            </div>
            <!-- .col-lg-4 end -->
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="contact-form bg-gray">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-heading">
                      {{ node.getTitle() }}
                    </div>
                  </div>
                </div>
                    {{ content.webform }}
              </div>
              <!-- .contact-form end -->
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #contact1 end -->
      <!-- Google Maps
        ============================================= -->
      <section class="google-maps pb-0 pt-0">
        <div class="container-fluid">
          <div class="row">
  		<div class="col-sm-12 col-md-12 col-lg-12 pr-0 pl-0">
  		          {{ node.field_google.value|raw }}
  		      </div>
            </div>
          </div>
        </section>
{% else %}
    <section id="contact3" class="contact contact-3 pt-0 pb-0 bg-gray">
      <div class="container-fluid pr-0 pl-0">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-7 pr-0">
                      {{ node.field_google.value|raw }}
              </div>
              <!-- .col-lg-7 end -->
              <div class="col-sm-12 col-md-12 col-lg-5 pl-0">
                  <div class="contact-form">
                      <div class="row">
                          <div class="col-sm-12 col-md-12 col-lg-12">
                              <div class="contact-bio">
                                 {{ node.getTitle() }}
                              </div>
                          </div>
                      </div>
                      {{ content.webform }}
                  </div><!-- .contact-form end -->
              </div><!-- .col-lg-5 end -->
          </div><!-- .row end -->
      </div>
      <!-- .container end -->
  </section>
{% endif %}