<h4>
  {{ 'DOWNLOAD OUR APP & FOLLOW US'|t }}
</h4>
<ul>
  <li>
    {{ 'WRISTCHECK APP'|t }}
  </li>
  <li>
    {{ 'WRISTCHECK ON INSTAGRAM'|t }}
  </li>
  <li>
    {{ 'WEIBO'|t }}
  </li>
  <li>
    {{ 'FACEBOOK'|t }}
  </li>
  <li>
    {{ 'TWITTER'|t }}
  </li>
</ul>
